body {
 background: lightgrey;
}

.grid-container {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

article {
    background: white;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    /*justify-content: space-between;*/
   /* grid-column: span 4;*/
}

img {
    width: auto;
    border-radius: 25px ;
}   

/*
@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr);
    }
}
    */